<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quam ipsa voluptates officiis architecto expedita eaque voluptas commodi quo, velit, non ipsum veritatis exercitationem? Dolores unde dignissimos dolor voluptatum laboriosam!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i></li>
                <li><i class="fa-solid fa-phone"></i></li>
                <li><i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Copyright 2024, marcos-grocha of Technology.
    </section>
</footer>